<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="./styles/signup.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class = "row" style="padding-top: 12px" >
    <span class="col-md-1 col-m-6">

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">About Us</a></li>
                <li class="divider"></li>
                <li id="flights"><a href="/flights">Flights</a></li>
                <li><a href="/hotels">Hotels</a></li>
                <li><a href="https://goalltrip.com/index">Homestays</a></li>
                <li><a href="https://goalltrip.com/index">Holidays</a></li>
                <li id="buses"><a href="/buses">Buses</a></li>
            </ul>
        </div>

    </span>
    <span class="col-md-2 col-m-6"><div>
        <a href="#" data-toggle="tooltip" title="Make account for any query"><button id="signup" type="button" class="btn btn-primary" style="border: white">Create Account</button></a>
    </div></span>
    <span class="col-md-4 col-m-12"><input name="username" placeholder = "e-mail id" id="signedinemailid" style="width: 100%"></span>
    <span class="col-md-4 col-m-12"><input name="password" placeholder = "password" type = "password" id="signedinpassword" style="width: 100%"></span>
    <span class="col-md-1 col-m-12"><button id="login" type="button" class="btn btn-primary" style="border: white">Login</button></span>

</div>

<div>

<form class="form">
    <div class="container" style="margin-top: 2% ">

        <div class="col-md-6">
            <label for="firstname">Enter firstname</label>
            <br>
            <input id="firstname" type="text" class="form-control">
        </div>

        <div class="col-md-6">
            <label for="lastname">Enter lastname</label>
            <br>
            <input id="lastname" type="text" class="form-control">
        </div>

        <div class="col-md-6">
            <label for="emailid">Enter email-id</label>
            <br>
            <input id="emailid" type="text" class="form-control">
        </div>

        <div class="col-md-6">
            <label for="password">Enter password</label>
            <br>
            <input id="setpassword" type="password" class="form-control">
        </div>

        <div class="col-md-6">
            <label for="reenterpassword">Re-enter password</label>
            <br>
            <input id="reenterpassword" type="password" class="form-control">
        </div>


        <button id="submit" type="button" class="btn btn-primary" style="margin-top: 2%;margin-left:46%">Submit</button>


    </div>
</form>
</div>
<script src="./javascript/signup.js"></script>
<script>

    $(document).ready(function(){

        $('#signup').click(function () {
            window.location.href='/signup';
        });

        $('#flights').click(function () {
            window.location.href='/flights';
        });

        $('#buses').click(function () {
            window.location.href='/buses';
        });

    });


</script>

</body>
</html>